<li class="nav-item">
<%= link_to main_app.exemplo1s_path, :class => "nav-link collapsed" do %>
  <i class="bi bi-menu-button-wide"></i>
  <span>Exemplo1</span>
<% end %>
</li>

<li class="nav-item">
<%= link_to main_app.exemplo2s_path, :class => "nav-link collapsed" do %>
  <i class="bi bi-menu-button-wide"></i>
  <span>Exemplo2</span>
<% end %>
</li>