<div id="<%= dom_id exemplo2 %>">
  <p>
    <strong>Nome:</strong>
    <%= exemplo2.nome %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= exemplo2.numero %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= exemplo2.codigo %>
  </p>

</div>
