<div id="<%= dom_id exemplo1 %>">
  <p>
    <strong>Nome:</strong>
    <%= exemplo1.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= exemplo1.idade %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= exemplo1.cpf %>
  </p>

</div>
